/*Formato de letra*/
@import url("https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap");
/*For Root*/
:root {
  --main: rgb(241, 210, 6);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
