.MainBg {
  position: relative;
}
.MainBg Image {
  height: 90vh;
  width: 100%;
  object-fit: cover;
}
.MainBg .MainBgOverlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 90vh;
  width: 100%;
  background: #000;
  opacity: 0.2;
}
.MainBgContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}
.MainBgContent h6 {
  font-size: 60px;
  margin-bottom: 0.2px dashed #ccc;
  font-weight: 800;
}
